@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rock+Salt&display=swap");

.App {
	background-color: black;
	height: 100vh;
}

nav {
	background-color: #37474f;
	text-align: center;
	padding: 1em 0;
	font-size: 2em;
	font-family: "Indie Flower", cursive;
	color: white;
}

ul {
	width: 100%;
	margin-top: 2em;
}

ul li {
	text-align: center;
	color: white;
	margin: 5px 0;
}

ul > li h3 {
	display: inline-block;
}

ul > li > button {
	margin-left: 10px;
	border: none;
	border-radius: 2px;
	background-color: white;
	cursor: pointer;
	outline: none;
	transition: all 0.3s linear;
}

ul > li > button:hover {
	background-color: #dddddd;
}

.problem {
	display: flex;
	flex-direction: row;
}

.description,
.code-editor {
	width: 50%;
	height: 100vh;
	color: white;
}

.description {
	background-color: black;
	line-height: 35px;
}

.description > h3 {
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 2em;
	text-align: center;
	padding: 1em;
}

.description > p {
	padding: 1em;
}

.code-editor {
	background-color: green;
}
